.navbar-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 60px;
  background-color: var(--on-background-grey);
  padding: 1rem 2rem;
}

.logo h1 {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-container input {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-left: 20px;
  outline: none;
}

.search-container input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.logout-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
  margin-left: 20px;
}

.logout-icon:hover {
  background: rgba(252, 251, 251, 0.4);
}
