:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --on-background-grey: #f8f9fa;
  --navbar-bg: #ffffff;
  --navbar-shadow: rgba(0, 0, 0, 0.4);
  --border-color: #ccc;
  --hover-color: #007bff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --on-background-grey: #333;
  --navbar-bg: #1e1e1e;
  --navbar-shadow: rgba(255, 255, 255, 0.1);
  --border-color: #888;
  --hover-color: #4dabf7;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: fit-content;
  box-shadow: 0 2px 4px var(--navbar-shadow);
  border-radius: 60px;
  background-color: var(--on-background-grey);
  padding: 1rem 2rem;
}

.logo h1 {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: var(--text-color);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--hover-color);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-container input {
  padding: 0.5rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  width: 300px;
  margin-left: 20px;
  outline: none;
  background-color: var(--navbar-bg);
  color: var(--text-color);
}

.search-container input:focus {
  border-color: var(--hover-color);
  box-shadow: 0 0 4px var(--hover-color);
}

.logout-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
  margin-left: 20px;
}

.logout-icon:hover {
  background: rgba(252, 251, 251, 0.4);
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
  margin-left: 20px;
}

.theme-toggle:hover {
  background: rgba(252, 251, 251, 0.4);
}
